Repository beefchimi/socialite, changes with the labels that .github/labeler.yml gives for each.
All labels: 👽️ dependency, 📝 documentation, 🔖 release, 🧪 testing

:truck: [Socialite] Rename SocialProfile interface
  README.md
  src/index.ts
  src/networks/tests/behance.test.ts
  src/networks/tests/devto.test.ts
  src/networks/tests/discord.test.ts
  src/networks/tests/dribbble.test.ts
  src/networks/tests/exercism.test.ts
  src/networks/tests/facebook.test.ts
  src/networks/tests/github.test.ts
  src/networks/tests/instagram.test.ts
  src/networks/tests/keybase.test.ts
  src/networks/tests/linkedin.test.ts
  src/networks/tests/medium.test.ts
  src/networks/tests/patreon.test.ts
  src/networks/tests/pinterest.test.ts
  src/networks/tests/reddit.test.ts
  src/networks/tests/stackoverflow.test.ts
  src/networks/tests/substack.test.ts
  src/networks/tests/telegram.test.ts
  src/networks/tests/tiktok.test.ts
  src/networks/tests/twitch.test.ts
  src/networks/tests/twitter.test.ts
  src/networks/tests/vimeo.test.ts
  src/networks/tests/yat.test.ts
  src/networks/tests/youtube.test.ts
  src/socialite.ts
  src/tests/fixtures/valid-profiles.ts
  src/types/index.ts
  src/types/social-profile.ts
Labels: 📝 documentation, 🧪 testing

:truck: [Socialite] Rename SocialNetworkId type
  src/socialite.ts
  src/types/index.ts
  src/types/social-network.ts
  src/types/social-profile.ts
Labels: none

:truck: [Socialite] Rename SocialNetworkMap type
  src/socialite.ts
  src/tests/socialite-network-methods.test.ts
  src/types/index.ts
  src/types/social-network.ts
Labels: 🧪 testing

:truck: [Socialite] Rename allSocialNetworks variable and change its type
  README.md
  src/data.ts
  src/index.ts
  src/networks/tests/behance.test.ts
  src/networks/tests/devto.test.ts
  src/networks/tests/discord.test.ts
  src/networks/tests/dribbble.test.ts
  src/networks/tests/exercism.test.ts
  src/networks/tests/facebook.test.ts
  src/networks/tests/github.test.ts
  src/networks/tests/instagram.test.ts
  src/networks/tests/keybase.test.ts
  src/networks/tests/linkedin.test.ts
  src/networks/tests/medium.test.ts
  src/networks/tests/patreon.test.ts
  src/networks/tests/pinterest.test.ts
  src/networks/tests/reddit.test.ts
  src/networks/tests/stackoverflow.test.ts
  src/networks/tests/substack.test.ts
  src/networks/tests/telegram.test.ts
  src/networks/tests/tiktok.test.ts
  src/networks/tests/twitch.test.ts
  src/networks/tests/twitter.test.ts
  src/networks/tests/vimeo.test.ts
  src/networks/tests/yat.test.ts
  src/networks/tests/youtube.test.ts
  src/socialite.ts
  src/tests/fixtures/index.ts
  src/tests/fixtures/networks.ts
  src/tests/socialite-network-methods.test.ts
  src/tests/socialite.test.ts
Labels: 📝 documentation, 🧪 testing

:truck: [Socialite] Rename SocialNetworkMatcher interface
  src/types/index.ts
  src/types/social-network.ts
Labels: none

:truck: [Socialite] Rename socialNetworkPrefixes variable
  src/index.ts
  src/networks/medium.ts
  src/networks/tiktok.ts
  src/networks/twitter.ts
  src/prefixes.ts
  src/tests/fixtures/valid-profiles.ts
  src/types/social-network.ts
Labels: none

:truck: [Socialite] Rename SocialNetwork interface
  src/index.ts
  src/networks/behance.ts
  src/networks/devto.ts
  src/networks/discord.ts
  src/networks/dribbble.ts
  src/networks/exercism.ts
  src/networks/facebook.ts
  src/networks/github.ts
  src/networks/instagram.ts
  src/networks/keybase.ts
  src/networks/linkedin.ts
  src/networks/medium.ts
  src/networks/patreon.ts
  src/networks/pinterest.ts
  src/networks/reddit.ts
  src/networks/stackoverflow.ts
  src/networks/substack.ts
  src/networks/telegram.ts
  src/networks/tiktok.ts
  src/networks/twitch.ts
  src/networks/twitter.ts
  src/networks/vimeo.ts
  src/networks/yat.ts
  src/networks/youtube.ts
  src/socialite.ts
  src/tests/fixtures/networks.ts
  src/tests/fixtures/valid-profiles.ts
  src/tests/socialite-network-methods.test.ts
  src/tests/socialite.test.ts
  src/types/index.ts
  src/types/social-network.ts
  src/utilities/network.ts
Labels: 🧪 testing

:truck: [Socialite] Rename SocialNetworkProperty type
  src/index.ts
  src/types/index.ts
  src/types/social-network.ts
Labels: none

:truck: [Socialite] Rename SocialNetworkSubset type
  src/tests/socialite-network-methods.test.ts
  src/types/index.ts
  src/types/social-network.ts
  src/utilities/network.ts
Labels: 🧪 testing

:truck: [Socialite] Rename SocialNetworkProperties type
  src/index.ts
  src/socialite.ts
  src/tests/socialite-network-methods.test.ts
  src/types/index.ts
  src/types/social-network.ts
  src/utilities/network.ts
  src/utilities/tests/network.test.ts
Labels: 🧪 testing

:memo: [Changeset] Create report
  .changeset/many-ghosts-reflect.md
Labels: none

:alembic: [Socialite] Experiment with allowing UrlMinCriteria in parseProfile
  src/capture.ts
  src/index.ts
  src/socialite.ts
  src/tests/fixtures/index.ts
  src/tests/fixtures/valid-profiles.ts
  src/tests/socialite-parse-profile.test.ts
  src/tests/socialite-parse-url.test.ts
  src/utilities/index.ts
  src/utilities/tests/fixtures.ts
  src/utilities/tests/url.test.ts
  src/utilities/url.ts
Labels: 🧪 testing

:memo: [Changeset] Create report
  .changeset/quick-papayas-remember.md
Labels: none

⚗️ [Socialite] Accept `UrlMinCriteria` in `parseProfile()` (#20)
  .changeset/quick-papayas-remember.md
  src/capture.ts
  src/index.ts
  src/socialite.ts
  src/tests/fixtures/index.ts
  src/tests/fixtures/valid-profiles.ts
  src/tests/socialite-parse-profile.test.ts
  src/tests/socialite-parse-url.test.ts
  src/utilities/index.ts
  src/utilities/tests/fixtures.ts
  src/utilities/tests/url.test.ts
  src/utilities/url.ts
Labels: 🧪 testing

:boom: [YouTube] No longer support short url
  src/networks/tests/youtube.test.ts
  src/networks/youtube.ts
Labels: 🧪 testing

:memo: [Changeset] Create report
  .changeset/hot-coins-shop.md
Labels: none

💥 [YouTube] No longer support short url (#22)
  .changeset/hot-coins-shop.md
  src/networks/tests/youtube.test.ts
  src/networks/youtube.ts
Labels: 🧪 testing

:construction_worker: [YouTube] Clarify test
  src/networks/tests/youtube.test.ts
Labels: 🧪 testing

:boom: [Discord] Tighter matching
  src/networks/discord.ts
  src/networks/tests/discord.test.ts
Labels: 🧪 testing

:boom: [LinkedIn] Tighter matching
  src/networks/linkedin.ts
  src/networks/tests/linkedin.test.ts
Labels: 🧪 testing

:boom: [Exercism] Tighter matching
  src/networks/exercism.ts
  src/networks/tests/exercism.test.ts
Labels: 🧪 testing

:boom: [Reddit] Tighter matching
  src/networks/reddit.ts
  src/networks/tests/reddit.test.ts
Labels: 🧪 testing

:boom: [StackOverflow] Tighter matching
  src/networks/stackoverflow.ts
  src/networks/tests/stackoverflow.test.ts
Labels: 🧪 testing

:memo: [Changeset] Create report
  .changeset/kind-panthers-pretend.md
Labels: none

💥 [Networks] Stricter pattern matching for leading directories (#23)
  .changeset/kind-panthers-pretend.md
  src/networks/discord.ts
  src/networks/exercism.ts
  src/networks/linkedin.ts
  src/networks/reddit.ts
  src/networks/stackoverflow.ts
  src/networks/tests/discord.test.ts
  src/networks/tests/exercism.test.ts
  src/networks/tests/linkedin.test.ts
  src/networks/tests/reddit.test.ts
  src/networks/tests/stackoverflow.test.ts
  src/networks/tests/youtube.test.ts
Labels: 🧪 testing

.github/labeler.yml:

👽️ dependency:
  - any: ['package.json', 'package-lock.json', 'yarn.lock', '.pnp.*']
📝 documentation: ['README.md', 'docs/**/*']
🔖 release: 'CHANGELOG.md'
🧪 testing: '**/*.test.ts'
🔧 tooling:
  - any:
      [
        '*',
        '.github/**/*',
        '.vscode/**/*',
        '.yarn*',
        '.yarn/**/*',
        'config/**/*',
        'scripts/**/*',
        '!package*',
        '!yarn.lock',
        '!*.@(md|mdx)',
      ]
